:root {
    --azul-awaterra: #176eaf;
    --hoverbtn-azul-awaterra: #0a4572;
    --celeste-awaterra: #7fbce4;
    --background: #88c2ee7b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: block;
    top: 0px;
    position: sticky;
    z-index: 10;
}

.awbtn {
    color: #fff;
    outline: none;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--azul-awaterra);
    transition: all .2s;
    height: 30px;
}

.awbtn-dark {
    color: #fff;
    outline: none;
    font-size: 12px;
    background-color: rgb(115 176 221);
}


.awbtn:hover {
    cursor: pointer;
    background-color: var(--hoverbtn-azul-awaterra);
}

.awinput {
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--background);
    height: 30px;
    transition: all .2s;
}

.awinput:focus-visible {
    /* border: 1px solid var(--hoverbtn-azul-awaterra); */
    box-shadow: 1px 1px 10px #176eaf;
}

.cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    min-height: 200px;
}

.cabecera .logo_awaterra {
    width: 100px;
    height: 100px;
}

.form_codigo_cliente {
    width: 100%;
    height: 70px;
    align-items: center;
}

.form_reclamos {
    /* outline: 1px solid red; */
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form_reclamos_input {
    display: flex;
    flex-direction: column;
}

.form_select {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 40%;
}

.group-form {
    width: 100%;
    /* outline: 1px solid red; */
    display: flex;
}



.whatsapp_link {
    display: flex;
    justify-content: center;
}

.whatsapp_img {
    width: 40px;

    height: 40px;
}

.datos_usuarios {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 13px;
    /* outline: 1px solid red; */
}

.datos_obtenidos {
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--background);
    width: 180px;
}


.group-datos {
    display: flex;
}

.campo_maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    /* outline: 1px solid red; */
}

#map {
    width: 100%;
    height: 100%;
    min-height: 200px;
    margin-bottom: 10px;
}

@media screen and (min-width:320px) and (max-width: 768px) {
    .cabecera {
        min-width: 100%;
        min-height: 200px;
    }

    /* .cabecera div p {
        outline: 1px solid red;
    } */

    .form_reclamos_input p {
        font-size: 12px;
    }

    .ctn_datos_usuarios {
        flex-direction: column;
    }
}

@media screen and (min-width:390px) and (max-width: 932px) {
    .cabecera {
        min-width: 100%;
        min-height: 200px;
        outline: 1px solid red;
    }

    /* .cabecera div p {
        outline: 1px solid red;
    } */

    .form_reclamos_input p {
        font-size: 12px;
    }

    .ctn_datos_usuarios {
        flex-direction: column;
    }
}